@import "../typoColor.scss";

.notFound {
  display: flex;
  flex-direction: column;
  background-color: $color5;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  color: white;

  h1 {
    font-weight: bold;
    font-size: 10rem;
  }

  h3 {
    margin-top: 10px;
  }
  img {
    width: auto;
    height: 30vh;
  }
}
