@use "sass:color";

@import "../typoColor.scss";

.topHeader {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  padding-right: 2vw;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 11;
}

.container {
  display: flex;
  flex-direction: row;
}

.social {
  height: 5vh;
  width: auto;
  aspect-ratio: 1/1;
  background-color: $color3;
  border-right: 1px solid $color2;
  align-content: center;
  &:hover {
    background-color: color.scale($color3, $lightness: 20%);
  }
  img {
    margin: auto;
    display: block;
    width: 70%;
    height: auto;
    aspect-ratio: 1/1;
  }
}

.left {
  border-bottom-left-radius: 10px;
}

.right {
  border-bottom-right-radius: 10px;
  border-right: none;
}
